html, body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

svg {
    background-color: #000000;
}

text {
    text-anchor: middle;
    alignment-baseline: center;
    font-family: "Silkscreen", Arial, sans-serif;
    user-select: none;
}
